<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
</head>
<body ng-app="cart">
	<div class="container" ng-controller="cartController">
	<table class="table" ng-show="cart.length>0">
		<thead>
			<tr>
				<td>Product No.</td>
				<td>Product Name</td>
				<td>Quantity</td>
				<td>Price</td>
				<td>Total Price</td>
				<td>Manage</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat='item in cart'>
				<td>{{item.id}}</td>
				<td>{{item.name}}</td>
				<td><button type="button" class="btn btn-primary" ng-click="change(item.id, -1)">-</button><input value="{{item.quantity}}" ng-model="item.quantity" /><button type="button" class="btn btn-primary" ng-click="change(item.id, 1)">+</button></td>
				<td>{{item.price}}</td>
				<td>{{item.quantity*item.price}}</td>
				<td><button type="button" class="btn btn-danger" ng-click="remove(item.id)">Remove</button></td>
			</tr>
			<tr>
				<td colspan=2>Sum</td>
				<td>{{sumAll().quantity}}</td>
				<td></td>
				<td>{{sumAll().price}}</td>
				<td><button type="button" class="btn btn-danger" ng-click="remove()">Clear the cart</button></td>
			</tr>
		</tbody>
	</table>
	<p ng-show="cart.length<=0">
		<h2 ng-show="cart.length<=0">There's no product in your cart.</h2>
	</p>
	</div>
	
	<script src="../../js/angular.js"></script>
	<script type="text/javascript" src="controller.js"></script>
</body>
</html>